body {
  font-family: "McLaren";

  .menu {
    background-color: #111;
    color: white;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;

        li {
          float: left;

          a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
        }
      }
    }

    .close {
      .icon {
        color: white;
        cursor: pointer;
        font-size: 16pt;
      }
    }
  }

  .container {
    padding: 50px;

    .entry-component {
      padding: 150px;

      .header {
        display: flex;
        justify-content: space-between;

        border-bottom: 4px solid $primary;

        .left {}

        .right {
          display: flex;
          align-items: center;

          .filter {
            display: flex;
            margin-right: 10px;

            .tag {
              margin-right: 5px;
            }
          }

          .nav {
            display: flex;

            .ball {
              width: 20px;
              height: 20px;
              background-color: $primary;
              margin-right: 5px;
              border-radius: 50%;

              &.active {
                border: 1px solid black;
                background-color: white !important;
              }
            }
          }
        }
      }

      .entries {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-top: 30px;

        .entry-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;

          &a {
            text-decoration: none;
          }

          .date {
            margin-bottom: 10px;
          }

          .entry {
            width: 230px;
            height: 300px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.1);

            .entry-header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;

              .title {
                font-weight: bold;
              }

              .comments {
                width: 10px;
                height: 10px;
                background-color: red;
                border-radius: 50%;
              }
            }

            .body {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 12;
              max-height: 250px;
              overflow: hidden;
            }

            &.new {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              cursor: pointer;

              .add-icon {
                height: 50px;
                width: 50px;
                display: flex;
                background-color: $primary;
                color: white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .plus {
                  font-size: 40pt;
                  color: white;
                }
              }

              .add-text {
                margin-top: 20px;
                font-size: 13pt;
                font-weight: bold;
              }
            }
          }

        }
      }

      .entries {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .entry {
          width: 300px;
          // background-color: gray;
          // margin: 5px;
          // padding: 10px;

          // display: flex;
          // justify-content: space-between;
          // flex-direction: column-reverse;

          .content {
            // display: flex;

            .entry-title {
              font-size: 20pt;
            }
          }

          .function {
            display: flex;
            justify-content: space-between;

            .edit {
              cursor: pointer;
              text-decoration: underline;
              text-decoration: none;
              color: $black;
            }

            .delete {
              cursor: pointer;
              color: $warning;
            }
          }
        }
      }
    }

    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form {
        padding: 40px;

        .form-group {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding: 10px;

          label {
            margin-right: 10px;
          }

          .help-block {
            color: $warning;
          }
        }
      }
    }
  }
}