body {
  font-family: "McLaren";

  .menu {
    background-color: #111;
    color: white;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigation {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        li {
          float: left;
          a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
        }
      }
    }
    .close {
      .icon {
        color: white;
        cursor: pointer;
        font-size: 16pt;
      }
    }
  }

  .container {
    padding: 50px;
    .entry-component {
      .page-title {
        text-align: center;
        color: $warning;
      }

      .entries {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .entry {
          width: 300px;
          background-color: gray;
          margin: 5px;
          padding: 10px;

          display: flex;
          justify-content: space-between;
          flex-direction: column-reverse;

          .content {
            // display: flex;

            .entry-title {
              font-size: 20pt;
            }
          }

          .function {
            display: flex;
            justify-content: space-between;

            .edit {
              cursor: pointer;
              text-decoration: underline;
              text-decoration: none;
              color: $black;
            }

            .delete {
              cursor: pointer;
              color: $warning;
            }
          }
        }
      }
    }
  }
}
