@font-face {
  font-family: MCLaren;
  src: url(assets/McLaren-Regular.ttf);
}

body {
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: "MCLaren";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "MCLaren";
}
